.form-container input,
.form-container select {
  display: block;
  background-color: #336543;
  color: white;
  margin: 10px 0;
  padding: 10px;
  border: none;
  width: 99%;
}

.form-container button {
  background-color: #336543;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #295232;
}

.filter-section input {
  background-color: #336543;
  color: white;
  padding: 10px;
  border: none;
  width: 99%;
  margin-top: 20px;
}

.display-box {
  background-color: #d9d9d9;
  margin-top: 20px;
  padding: 10px;
}

.display-box .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.display-box .item button {
  margin-left: 10px;
}

button.edit {
  background-color: #8d541c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button.delete {
  background-color: #791c1c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
